li{
    margin-bottom: 16px;
}
ul > li:first-child{
   background-color: red;
   color: white;
}
ul > li:last-child{
    background-color: black;
    color: white;
 }
ul > li:nth-child(even) > span{
    margin-left: 16px;
}
div.paragraphs > p:nth-child(odd) {
    background-color: grey;
}
